<a href="https://colab.research.google.com/github/Castor4ik/Diploma/blob/main/A_B_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#підключення основних бібліотек

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
#імпорт датасету

from google.colab import files 
uploaded = files.upload()

Saving cookie_cats.csv to cookie_cats.csv

In [ ]:
#імпорт датасету
df= pd.read_csv("cookie_cats.csv")
df

        userid  version  sum_gamerounds  retention_1  retention_7
0          116  gate_30               3        False        False
1          337  gate_30              38         True        False
2          377  gate_40             165         True        False
3          483  gate_40               1        False        False
4          488  gate_40             179         True         True
...        ...      ...             ...          ...          ...
90184  9999441  gate_40              97         True        False
90185  9999479  gate_40              30        False        False
90186  9999710  gate_30              28         True        False
90187  9999768  gate_40              51         True        False
90188  9999861  gate_40              16        False        False

[90189 rows x 5 columns]

In [ ]:
df['retention_1'] = df['retention_1'].astype(int, errors = 'raise')
df['retention_7'] = df['retention_7'].astype(int, errors = 'raise')
df

        userid  version  sum_gamerounds  retention_1  retention_7
0          116  gate_30               3            0            0
1          337  gate_30              38            1            0
2          377  gate_40             165            1            0
3          483  gate_40               1            0            0
4          488  gate_40             179            1            1
...        ...      ...             ...          ...          ...
90184  9999441  gate_40              97            1            0
90185  9999479  gate_40              30            0            0
90186  9999710  gate_30              28            1            0
90187  9999768  gate_40              51            1            0
90188  9999861  gate_40              16            0            0

[90189 rows x 5 columns]

In [ ]:
df['version'] = df['version'].str.replace('gate_30','0')
df['version'] = df['version'].str.replace('gate_40','1')
df['version'] = df['version'].astype(int, errors = 'raise')
df

        userid  version  sum_gamerounds  retention_1  retention_7
0          116        0               3            0            0
1          337        0              38            1            0
2          377        1             165            1            0
3          483        1               1            0            0
4          488        1             179            1            1
...        ...      ...             ...          ...          ...
90184  9999441        1              97            1            0
90185  9999479        1              30            0            0
90186  9999710        0              28            1            0
90187  9999768        1              51            1            0
90188  9999861        1              16            0            0

[90189 rows x 5 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90189 entries, 0 to 90188
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   userid          90189 non-null  int64
 1   version         90189 non-null  int64
 2   sum_gamerounds  90189 non-null  int64
 3   retention_1     90189 non-null  int64
 4   retention_7     90189 non-null  int64
dtypes: int64(5)
memory usage: 3.4 MB

In [ ]:
df.dropna()
df

        userid  version  sum_gamerounds  retention_1  retention_7
0          116        0               3            0            0
1          337        0              38            1            0
2          377        1             165            1            0
3          483        1               1            0            0
4          488        1             179            1            1
...        ...      ...             ...          ...          ...
90184  9999441        1              97            1            0
90185  9999479        1              30            0            0
90186  9999710        0              28            1            0
90187  9999768        1              51            1            0
90188  9999861        1              16            0            0

[90189 rows x 5 columns]

In [ ]:
df.describe()

             userid       version  sum_gamerounds   retention_1   retention_7
count  9.018900e+04  90189.000000    90189.000000  90189.000000  90189.000000
mean   4.998412e+06      0.504374       51.872457      0.445210      0.186065
std    2.883286e+06      0.499984      195.050858      0.496992      0.389161
min    1.160000e+02      0.000000        0.000000      0.000000      0.000000
25%    2.512230e+06      0.000000        5.000000      0.000000      0.000000
50%    4.995815e+06      1.000000       16.000000      0.000000      0.000000
75%    7.496452e+06      1.000000       51.000000      1.000000      0.000000
max    9.999861e+06      1.000000    49854.000000      1.000000      1.000000

In [ ]:
testA = df[df['version'] >= 1]
testA

        userid  version  sum_gamerounds  retention_1  retention_7
2          377        1             165            1            0
3          483        1               1            0            0
4          488        1             179            1            1
5          540        1             187            1            1
7         1444        1               2            0            0
...        ...      ...             ...          ...          ...
90181  9998733        1              10            1            0
90184  9999441        1              97            1            0
90185  9999479        1              30            0            0
90187  9999768        1              51            1            0
90188  9999861        1              16            0            0

[45489 rows x 5 columns]

In [ ]:
testB = df[df['version'] == 0]
testB

        userid  version  sum_gamerounds  retention_1  retention_7
0          116        0               3            0            0
1          337        0              38            1            0
6         1066        0               0            0            0
11        2101        0               0            0            0
13        2179        0              39            1            0
...        ...      ...             ...          ...          ...
90179  9998576        0              14            1            0
90180  9998623        0               7            0            0
90182  9999178        0              21            1            0
90183  9999349        0              10            0            0
90186  9999710        0              28            1            0

[44700 rows x 5 columns]

In [ ]:
testA.describe()

             userid  version  sum_gamerounds   retention_1   retention_7
count  4.548900e+04  45489.0    45489.000000  45489.000000  45489.000000
mean   5.009073e+06      1.0       51.298776      0.442283      0.182000
std    2.885496e+06      0.0      103.294416      0.496663      0.385849
min    3.770000e+02      1.0        0.000000      0.000000      0.000000
25%    2.517171e+06      1.0        5.000000      0.000000      0.000000
50%    5.007329e+06      1.0       16.000000      0.000000      0.000000
75%    7.510762e+06      1.0       52.000000      1.000000      0.000000
max    9.999861e+06      1.0     2640.000000      1.000000      1.000000

In [ ]:
testB.describe()

             userid  version  sum_gamerounds   retention_1   retention_7
count  4.470000e+04  44700.0    44700.000000  44700.000000  44700.000000
mean   4.987564e+06      0.0       52.456264      0.448188      0.190201
std    2.881026e+06      0.0      256.716423      0.497314      0.392464
min    1.160000e+02      0.0        0.000000      0.000000      0.000000
25%    2.505469e+06      0.0        5.000000      0.000000      0.000000
50%    4.983631e+06      0.0       17.000000      0.000000      0.000000
75%    7.481497e+06      0.0       50.000000      1.000000      0.000000
max    9.999710e+06      0.0    49854.000000      1.000000      1.000000